<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project - Game Shop</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/shop">Games</a></li>
                <li><a href="/blog">Blog</a></li>
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="hero">
        <h4>Multi-Players</h4>
        <h2>Your Gateway to Gaming Paradise</h2>
        <h1>Unlock Your Gaming Adventure</h1>
        <p>Save more with coupons & up to 70% off! </p>
        <button>Game Now</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/images/artwork/ps-game-controller-posters.webp" alt="">
            <h6>Play Now</h6>
        </div>
        <div class="fe-box">
            <img src="/images/artwork/gaming-collection-man-wearing-virtual-reality-goggles-posters.webp" alt="">
            <h6>Instant Downloads</h6>
        </div>
        <div class="fe-box">
            <img src="/images/artwork/retro-vintage-design-with-controller-video-game-lovers-gift-posters.webp" alt="">
            <h6>New Collection</h6>
        </div>
        <div class="fe-box">
            <img src="/images/artwork/retro-gadgets-personal-computer-poster-vintage-pc-posters.webp" alt="">
            <h6>Multiplayer</h6>
        </div>
        <div class="fe-box">
            <img src="/images/artwork/nights-of-japan-by-arisroth-posters.webp" alt="">
            <h6>Secure Purchases</h6>
        </div>
        <div class="fe-box">
            <img src="images/artwork/insert-coin507289-posters.webp" alt="">
            <h6>Stream Online</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Games</h2>
        <p>Discover, Play, Own: Your Gateway to Gaming Paradise</p>
        <div class="pro-container">
            <% for (let item of products) { %>
                <a href=<%=`/${item._id}` %>>
                    <div class="pro">
                        <img src="<%=item.image %>" alt="">
                        <div class="des">
                            <span>
                                <%=item.company %>
                            </span>
                            <h5>
                                <%=item.name%>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>$<%=item.price %>
                            </h4>
                        </div>

                        <form id="addCart" action="/cart" method="post">
                            <input type="text" style="display: none;" name="cartItem" id="aja_data"
                                value="<%=`${JSON.stringify(item)}`%>">
                            <button type="submit">
                                <a><i class="fal fa-shopping-cart cart"></i></a>
                            </button>
                        </form>

                    </div>
                </a>
                <% } %>

        </div>
    </section>

    <section id="banner" class="section-m1">
        <h4>New Games </h4>
        <h2>Up to <span>70% Off</span> – Unlock Hidden Levels – </h2>
        <button class="normal">Explore More</button>
    </section>

    <section id="product1" class="section-p1">
        <h2>New Arrivals</h2>
        <p>2023 Games</p>
        <div class="pro-container">
            <% for (let item of products) { %>
                <% if (parseInt(item.year)>=2023) {%>
                    <a href=<%=`/${item._id}` %>>
                        <div class="pro">
                            <img src="<%=item.image %>" alt="">
                            <div class="des">
                                <span>
                                    <%=item.company %>
                                </span>
                                <h5>
                                    <%=item.name%>
                                </h5>
                                <div class="star">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h4>$<%=item.price %>
                                </h4>
                            </div>
                            <form id="addCart" action="/cart" method="post">
                                <input type="text" style="display: none;" name="cartItem" id="aja_data"
                                    value="<%=`${JSON.stringify(item)}`%>">
                                <button type="submit">
                                    <a><i class="fal fa-shopping-cart cart"></i></a>
                                </button>
                            </form>
                        </div>
                    </a>
                    <% } %>
                        <% } %>
        </div>
    </section>

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>Don't Miss Out on the Madness: Crazy Deals Every Gamer Dreams Of!</span>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>Power Up Your Playlist</h4>
            <h2>upcomming season</h2>
            <span>Level Up Your Savings: Get Crazy with Our Deals!</span>
            <button class="white">Collection</button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h2>SEASONAL SALE</h2>
            <h3>Old Collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2">
            <h2>NEW EXCITING COLLECTION </h2>
            <h3>The Coolest New Games</h3>
        </div>
        <div class="banner-box banner-box3">
            <h2>Gaming Redefined</h2>
            <h3>New Trendy Plays</h3>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest games and <span>special offers.</span> </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/images/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 1932, Gear Ave - Fairfield, IA</p>
            <p><strong>Phone:</strong> +01 2222 365 /(+91) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play </p>
            <div class="row">
                <img src="/images/pay/app.jpg" alt="">
                <img src="/images/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways </p>
            <img src="/images/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>© 2021, GameShop - WAP Final Project</p>
        </div>
    </footer>


    <script>
        // document.getElementById('addCart').addEventListener('submit', function(event) {
        //     event.preventDefault();
        // });
    </script>
</body>

</html>